.connectionSec{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.connectionSec h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.button{
    text-align: center;
}

@media(max-width: 700px){
    .connectionSec{
        padding: 20px;
        font-family: 'Courier New', Courier, monospace;
    }

    .connectionSec h1{
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
    }

    .connectionSec p{
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
} 