/*
*{
    font-family: 'Courier New', Courier, monospace;
}*/

.header{
	position: relative;
    background-color: rgb(130, 130, 130);
}

nav{
    display: flex; /*Enables the options being in the same line */
    padding: 2% 6%;
    justify-content: space-between; /* OPtions are in the conner */
    align-items: center; /*Text and options are aligned*/
}

.nav-links{
    flex: 1;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #000000;
    margin-left: 80px;
    margin-right: 50px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    padding-right: 25px;
    position: relative;
}

/* Definition of the line below the options */
.nav-links ul li::after{
	content: '';
	width: 	0%; /* 0% because we wanto to display the line when the cursor is on top of a option! */
	height: 2px;
	background: #000000;
	display: block;
	margin: auto;
	transition: 0.3s;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    
}

/* ativation of the line when the cursor is on, an certain option */
.nav-links ul li:hover::after{
	width: 100%;	
}

/*
.header{
    padding: 2% 6%;
    margin: 0;
    background-color: rgba(165, 165, 165, 0.699);
    text-align: justify;
}

.header-title{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}


#title{
    float: left;
}*/

#info{
    float: right;
}


.userInfo{
    border-style: double;
    border-radius: 5px;
    border-color: black;
    width: 30%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
/*
.title{
    text-align: justify;
    padding-top: 0.4px;
}*/
/*
#info{
    font-size: 15px;
}*/

#userip{
    font-size: 15px;
}

#hostip{
    font-size: 15px;
}

.uploadForm{
    padding-top: 10px;
    text-align: center;
}

.downloadForm{ /*Includes verifyCode.html code form*/
    padding-top: 10px;
    text-align: center;
}

/*
.options{
    padding-top: 50px;
    flex: 1;
    text-align: center;
    font-size: 2px;
}*/

/* Options aligned *//*
.options ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.options ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.options ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(0, 0, 0);
    display: block;
    margin: auto;
    transition: 0.2s;
}

.options ul li:hover::after{
    width: 100%;
}*/

#connectH1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#description{
    padding-top: 10px;
    padding-left: 10px;
}


.mainmenuLogin{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    border-style: double;
    border-radius: 5px;
    border-color: black;
    border-bottom-left-radius: 2%;
    width: 25%;
    margin: auto;
    margin-top: 10px;
    background-color:rgba(0, 0, 0, 0.616);
}

/*
#nameInput{
    font-size: large;
}*/

#passwordInput{
    text-align: center;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 20px;
}

#loginButton{
    text-align: center;
    padding-top: 10px;
}

body{
    margin: 0;
    background: rgb(204, 204, 204);
}

.connectionSec{
    padding: 10px;
}
.connectionSec h1{
    font-size: 30px;
}

.button{
    text-align: center;
}

.codeBox{
    padding-top: 10px;
    text-align: center;
}

@media(max-width: 700px){
    
    .connectionSec{
        padding: 20px;
    }

    .connectionSec h1{
        font-size: 25px;
    }

    .connectionSec p{
        font-size: 20px;
    }

    .options{
        font-size: 25px;
    }

    .options ul li a{
        color: black;
        text-decoration: none;
        font-size: 25px;
    }

    .downloadForm{
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
    }

    .uploadForm{
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
    }

    #title{
        padding-top: 0.4px;
    }
    
    #info{
        font-size: 20px;
    }
    
    #userip{
        font-size: 20px;
    }
    
    #hostip{
        font-size: 20px;
    }
}
