<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>

        <div class="header">
            <h1>Caution</h1>
            <p>The Option is extremely dangerous! If you press the next button you will DELETE ALL FILES</p>
            <p>Do it on your own risk!</p>
        </div>

        <!-- Button to delete all files -->
        <section class="downloadForm">
            <div  id="codeBox">
                <form method="post" action="/deleteCheck">
                    <button type="submit" class="btn btn-primary submit">DELETE ALL FILES</button>
                    <br>
                </form>
            </div>
        </section>
    <script>
        alert("The Option is extremely dangerous! If you press the next button you will DELETE ALL FILES\nIf you click by mistake please go back to the previous page\n")
    </script>
    </body>
</html>