<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <script src="/loginhtml.js"></script>
    </head>
    <body>
        <section class="header">
            <div class="headerConnect">
                <h1 id="connectH1">LAN Transfer</h1>
                <p id="description">To connect to the server and enables files transfer from devices please press the bottom 'connect'</p>
            </div>
        </section>
        
        <!-- Login Box -->
        <section class="mainmenuLogin">
            <form action="/login" method="post">
                
                <!-- User name field-->
                <div id="userInput">
                    <label for="frame">Username:</label>
                    <input type="text" name="name_input" id="name" required/>
                    <br>
                </div>

                
                <div id="passwordInput">
                    <label for="frame">Password:</label>
                    <input type="password" name="password_input" id="password" required/>
                    <br>
                </div>
                

                 <!-- Login Button -->
                <div id="loginButton">
                    <button type="submit" class="btn btn-primary submit">Enter!</button>
                </div> 
            </form>

            <!-- Register Options -->
            
            <div class="options">
                <i class="options-options"></i>
                <ul>
                  <li> <a href="createUser">Register</a></li>
                </ul>
            </div>
            

        </section>
    </body>
    <script>
        //Get user name and put on p tag 
        var usernameInputHTML = " <%= username %> "
        document.getElementById("info").textContent += usernameInputHTML;
    </script>
</html>