<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <script src="/loginhtml.js"></script>
    </head>
    <body>
        <section class="header">
            <div class="headerConnect">
                <h1 id="connectH1">LAN Transfer</h1>
                <p id="description">To connect to the server and enables files transfer from devices please press the bottom 'connect'</p>
            </div>
        </section>
        <section class="mainmenuLogin">
            <form action="/login" method="post">
                
                <div id="userInput">
                    <label for="frame">Username:</label>
                    <input type="text" name="name" id="name"/>
                    <br>
                </div>
                <div id="passwordInput">
                    <label for="frame">Password:</label>
                    <input type="password" name="password" id="password"/>
                    <br>
                </div>
                <div id="loginButton">
                    <button type="submit" class="btn btn-primary submit" onclick="verifyLogin() ; getUsername()">Login</button>
                </div> 

            </form>
        </section>
    </body>
    <script src="/loginhtml.js"></script>
</html>