<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>

        <section class="header">
            <nav>
              <p>Files On System</p>
              <div class="nav-links" id="navLinks">
                <ul>
                  <form method="GET" action="/files" enctype="multipart/form-data">
                    <li> <a href="files">Show files on server</a></li>
                    <li> <a href="upload">Upload</a></li>
                    <li> <a href="download">Download</a></li>
                    <li> <a href="delete">Delete File</a></li>
                    <li> <a href="disconnect">Disconnect</a></li>
                    <li> <a href="deleteCheck">Delete All Files</a></li>
                  </form>
                </ul>
              </div>
              <p id="info">User: </p>
            </nav>
        </section>

        <div class="filesSystem">
            <p id="content"></p>
        </div>

        <!-- 
            <section class="downloadForm">
            <div  id="codeBox">
                <form method="post" action="/deleteCheck" enctype="multipart/form-data">
                    <label>Code: </label><br>
                    <input type="text" name="verifyCode" id="verifyCode"/>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary submit">Check Code</button>
                </form>
            </div>
        </section>
        -->
    
        <div class="options">
            <ul>
                <li> <a href="mainmenu">Return to Main Menu</a></li>
            </ul>
        </div>

    </body>

    <script>
        var textFiles = " <%= fileText %> "
        var filesize = " <%= uploadSize %> "
        var array = " <%= fileArray %> " 

        /*for(i = 0; i <= filesize-1 ; i++){
            var tag = document.createElement("p"); // <p></p>
            var text = document.createTextNode(array[i]); 
            tag.appendChild(text); //
        }*/

        document.getElementById("content").textContent += array;

        /*
        for(i = 0; i <= filesize-1 ; i++){
            var a = document.createElement('a');
            var linkText = document.createTextNode(array[i]);
            a.appendChild(linkText);
            let file = array[i]
            a.title = "file";
            a.href = "file:///" + "/uploads/*";
            document.body.appendChild(a);
        }*/

    </script>
</html>