<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
        <section class="header">
            <nav>
              <p>Download</p>
              <div class="nav-links" id="navLinks">
                <ul>
                  <form method="GET" action="/files" enctype="multipart/form-data">
                    <li> <a href="files">Show files on server</a></li>
                    <li> <a href="upload">Upload</a></li>
                    <li> <a href="download">Download</a></li>
                    <li> <a href="delete">Delete File</a></li>
                    <li> <a href="disconnect">Disconnect</a></li>
                    <li> <a href="deleteCheck">Delete All Files</a></li>
                  </form>
                </ul>
              </div>
              <p id="info">User: </p>
            </nav>
        </section>

        <section class="uploadForm">
            <form method="post" action="/downloads" enctype="multipart/form-data">
                <div id="nameFileDownload">
                    <label>Name of the file:</label><br>
                    <input type="text" name="namefile" id="namefile"/>
                </div>
                <br>
                <div id="typeFileDownload">
                    <label>Type of the file: </label><br>   
                    <input type="text" name="typefile" id="typefile"/>
                </div>

                <br>
                <br>

                <div id="downloadButton">
                    <button type="submit" class="btn btn-primary submit">Download File</button>
                </div>
        
            </form>
        </section>

        
        <div class="options">
            <ul>
                <li> <a href="mainmenu">Return to Main Menu</a></li>
            </ul>
        </div>

        <!--
        <a href="/uploads/hp.txt">Download all folder</a>
        <button onclick="showFiles()">Show files in folder</p>
        <button onclick="window.location.href='/'">Return to Main Menu
        </button>
        -->
    </body>
    <script>
        //Get user name and put on p tag 
        var usernameInputHTML = " <%= username %> "
        document.getElementById("info").textContent += usernameInputHTML;

        //requiring path and fs modules
        const path = require('path');
        const fs = require('fs');
        //joining path of directory 
        const directoryPath = path.join(__dirname, '/uploads');
        //passsing directoryPath and callback function
        fs.readdir(directoryPath, function (err, files) {
            //handling error
            if (err) {
                return console.log('Unable to scan directory: ' + err);
            } 
            //listing all files using forEach
            files.forEach(function (file) {
                // Do whatever you want to do with the file
                document.getElementById("files").textContent += file
            });
        });
    </script>
</html>