<html>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
      <section class="header">

        <h1 id="title">Main Menu</h1>
        <p id="info">User OS: </p>

      </section>

      <section class="options">
        <i class="options-options"></i>
        <ul>
          <li> <a href="upload">Upload</a></li>
          <li> <a href="download">Download</a></li>
          <li> <a href="delete">Delete File</a></li>
          <li> <a href="disconnect">Disconnect</a></li>
        </ul>
      </section>


    </body>
    <script>
      function getOS() {
          var userAgent = window.navigator.userAgent,
              platform = window.navigator.platform,
              macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
              windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
              iosPlatforms = ['iPhone', 'iPad', 'iPod'],
              os = null;

          if (macosPlatforms.indexOf(platform) !== -1) {
            os = 'Mac OS';
          } else if (iosPlatforms.indexOf(platform) !== -1) {
            os = 'iOS';
          } else if (windowsPlatforms.indexOf(platform) !== -1) {
            os = 'Windows';
          } else if (/Android/.test(userAgent)) {
            os = 'Android';
          } else if (!os && /Linux/.test(platform)) {
            os = 'Linux';
          }

          return os;
        }

        document.getElementById("info").textContent += getOS()
    </script>
</html>