<html>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <script type="text/javascript" src="/loginhtml.js"></script>
    </body>
    </head>
    <body>
      <section class="header">
        <h1 id="title">Main Menu</h1>
        <p id="hostip">Server IP: </p>
        <p id="info">User: </p>
        <p id="userip">User IP: </p>
      </section>
      <section class="options">
        <i class="options-options"></i>
        <ul>
          <li> <a href="upload">Upload</a></li>
          <li> <a href="download">Download</a></li>
          <li> <a href="delete">Delete File</a></li>
          <li> <a href="disconnect">Disconnect</a></li>
          <li> <a href="deleteCheck">Delete All Files</a></li>
          <form method="GET" action="/files" enctype="multipart/form-data">
            <li> <a href="files">Show files on server</a></li>
          </form>
        </ul>
      </section>
    <script type="text/javascript" src="/loginhtml.js"></script>
    <script>
      //const {userinput} = require('/loginhtml.js');
      
      //import userinput from '/loginhtml.js'

      //Get user name and put on p tag 
      var usernameInput = " <%= username %> "
      document.getElementById("info").textContent += usernameInput;
      var ip = " <%= Hostip %> "
      document.getElementById("hostip").textContent += ip;
      var userip = " <%= userIp %> "
      document.getElementById("userip").textContent += userip;
    </script>
</html>