<html>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <script type="text/javascript" src="/loginhtml.js"></script>
    </body>
    </head>
    <body>
      <section class="header">
        <h1 id="title">Main Menu</h1>
        <p id="info">User: </p>
      </section>
      <section class="options">
        <i class="options-options"></i>
        <ul>
          <li> <a href="upload">Upload</a></li>
          <li> <a href="download">Download</a></li>
          <li> <a href="delete">Delete File</a></li>
          <li> <a href="disconnect">Disconnect</a></li>
          <form method="GET" action="/files" enctype="multipart/form-data">
            <li> <a href="files">Show files on server</a></li>
          </form>
        </ul>
      </section>
    <script type="text/javascript" src="/loginhtml.js"></script>
    <script>
      //const {userinput} = require('/loginhtml.js');
      import userinput from '/loginhtml.js'
      document.getElementById("info").textContent += userinput;
    </script>
</html>