<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
        <section class="header">
            <nav>
              <p>Upload</p>
              <div class="nav-links" id="navLinks">
                <ul>
                  <form method="GET" action="/files" enctype="multipart/form-data">
                    <li> <a href="files">Show files on server</a></li>
                    <li> <a href="upload">Upload</a></li>
                    <li> <a href="download">Download</a></li>
                    <li> <a href="delete">Delete File</a></li>
                    <li> <a href="disconnect">Disconnect</a></li>
                    <li> <a href="deleteCheck">Delete All Files</a></li>
                  </form>
                </ul>
              </div>
              <p id="info">User: </p>
            </nav>
        </section>

        <section class="uploadForm">
            <form method="POST" action="/uploadFile" enctype="multipart/form-data">
                <input type="file" name="file"/>
                <input type="submit" value="Upload"/>
            </form>
        </section>
        
        <div class="options">
            <ul>
                <li> <a href="mainmenu">Return to Main Menu</a></li>
            </ul>
        </div>

    </body>
    <script>
        //Get user name and put on p tag 
        var usernameInputHTML = " <%= username %> "
        document.getElementById("info").textContent += usernameInputHTML;
    </script>
</html>
