<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
        <div class="header">
            <h1>Upload File</h1>
        </div>
        <section class="uploadForm">
            <form method="POST" action="/" enctype="multipart/form-data">
                <input type="file" name="file"/>
                <input type="submit" value="Upload"/>
            </form>
        </section>
        
        <div class="options">
            <ul>
                <li> <a href="mainmenu">Return to Main Menu</a></li>
            </ul>
        </div>

    </body>
</html>